vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Jul 2005 16:41:58 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|GALLOWAY2\\Jason
vti_modifiedby:SR|GALLOWAY2\\Jason
vti_timecreated:TR|15 Jul 2005 16:41:58 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|15 Jul 2005 16:41:58 -0000
vti_filesize:IR|4976
vti_cachedlinkinfo:VX|S|images/background.gif S|Images/header.gif S|images/content-shim.gif S|images/content-shim-photo.gif S|images/content-shim-none.gif S|images/body-repeat.gif S|images/body-repeat-photo.gif S|images/body-repeat-photo.gif S|images/photonav-bg.gif S|images/photonav-top-bg.gif S|images/footer-side.gif S|images/footer.gif
vti_cachedsvcrellinks:VX|FSUS|GallowayTech/App_Themes/White/images/background.gif FSUS|GallowayTech/App_Themes/White/Images/header.gif FSUS|GallowayTech/App_Themes/White/images/content-shim.gif FSUS|GallowayTech/App_Themes/White/images/content-shim-photo.gif FSUS|GallowayTech/App_Themes/White/images/content-shim-none.gif FSUS|GallowayTech/App_Themes/White/images/body-repeat.gif FSUS|GallowayTech/App_Themes/White/images/body-repeat-photo.gif FSUS|GallowayTech/App_Themes/White/images/body-repeat-photo.gif FSUS|GallowayTech/App_Themes/White/images/photonav-bg.gif FSUS|GallowayTech/App_Themes/White/images/photonav-top-bg.gif FSUS|GallowayTech/App_Themes/White/images/footer-side.gif FSUS|GallowayTech/App_Themes/White/images/footer.gif
